<div class="container-fluides" >
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header" style="background-color:#09132E;">
      <a class="navbar-brand" href="">
              <img class="gob" style="margin-bottom: 0px !important;margin-left:7px;"  />
              <img style="margin:7px !important;"/>
      </a>
  </div>

<!-- Just an image -->
<nav class="navbar navbar-light" style="background-color: #ED3232;">
  <a class="navbar-brand" href="#">
    <img src="/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" alt="">
  </a>
</nav>
</div>